<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgj.server.mapper.MajorScoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgj.server.pojo.MajorScore">
        <id column="id" property="id" />
        <result column="colId" property="colId" />
        <result column="year" property="year" />
        <result column="minLine" property="minLine" />
        <result column="maxLine" property="maxLine" />
        <result column="avgLine" property="avgLine" />
        <result column="cid" property="cid" />
        <result column="examId" property="examId" />
        <result column="batchId" property="batchId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, colId, year, minLine, maxLine, avgLine, cid, examId, batchId, create_time, update_time
    </sql>

</mapper>
