<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgj.server.mapper.MajorScoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgj.server.pojo.MajorScore">
        <id column="id" property="id" />
        <result column="colId" property="colId" />
        <result column="year" property="year" />
        <result column="minLine" property="minLine" />
        <result column="maxLine" property="maxLine" />
        <result column="avgLine" property="avgLine" />
        <result column="cid" property="cid" />
        <result column="examId" property="examId" />
        <result column="batchId" property="batchId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <resultMap id="MajorScoreInfo" type="com.lgj.server.pojo.MajorScore"  extends="BaseResultMap">
        <association property="major" javaType="com.lgj.server.pojo.Major">
            <id column="id2" property="id"/>
            <result column="name2" property="name"/>
        </association>
        <association property="college" javaType="com.lgj.server.pojo.College">
            <id column="cid" property="id"/>
            <result column="colname" property="name"/>
        </association>
        <association property="city" javaType="com.lgj.server.pojo.City">
            <id column="cityid" property="id"/>
            <result column="cityname" property="name"/>
        </association>
        <association property="edulevel" javaType="com.lgj.server.pojo.Edulevel">
            <id column="eid" property="id"/>
            <result column="ename" property="name"/>
        </association>
        <association property="batch" javaType="com.lgj.server.pojo.Batch">
            <id column="bid" property="id"/>
            <result column="bname" property="name"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, colId, year, minLine, maxLine, avgLine, cid, examId, batchId, create_time, update_time
    </sql>

    <select id="getMajorScoreByPage" resultMap="MajorScoreInfo">
        SELECT
            ms.id,
            ms.`year`,
            ms.maxLine,
            ms.minLine,
            ms.avgLine,
            m2.id AS id2,
            m2.`name` AS name2,
            c.id AS cid,
            c.`name` AS colname,
            city.id AS cityid,
            city.NAME AS cityname,
            e.id AS eid,
            e.`name` AS ename,
            b.id AS bid,
            b.`name` AS bname
        FROM
            sys_major_score ms,
            sys_major m1,
            sys_major m2,
            sys_col_major cm,
            sys_college c,
            sys_city city,
            sys_edulevel e,
            sys_batch b
        WHERE
            m1.id = m2.parentId
          AND m2.id = cm.mid
          AND cm.cid = c.id
          AND c.id = 1
          AND ms.colId = cm.cid
          AND ms.cid = city.id
          AND ms.batchId = b.id
          AND ms.examId = e.id
          AND m2.enabled = TRUE
          AND m2.isParent = 0
        ORDER BY
            ms.id
    </select>

</mapper>
